* {
    box-sizing: border-box;
    }
    
    *:focus {
      outline: none;
    }
    body {
    font-family: Arial;
    background-color: #3498DB;
    padding: 50px;
    }
    .login {
    margin: 20px auto;
    width: 300px;
    position: relative;
    z-index: 100;
    }
    .login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
    }
    
    .app-title {
    text-align: center;
    color: #777;
    }
    
    .login-form {
    text-align: center;
    }
    .control-group {
    margin-bottom: 10px;
    }
    
    input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
    }
    
    input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
    }
    
    .btn {
      border: 2px solid transparent;
      background: #3498DB;
      color: #ffffff;
      font-size: 16px;
      line-height: 25px;
      padding: 10px 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;
      box-shadow: none;
      transition: 0.25s;
      display: block;
      width: 250px;
      margin: 0 auto;
    }
    
    .btn:hover {
      background-color: #2980B9;
    }
    
    .login-link {
      font-size: 12px;
      color: #444;
      display: block;
      margin-top: 12px;
    }
  body {
    height: 1000vh;
    background: rgb(254, 93, 81);
    background: linear-gradient(
      180deg,
      rgba(30, 147, 193, 1) 0%,
      rgba(255, 135, 75, 1) 50%,
      rgba(255, 135, 75, 1) 90%,
      rgba(255, 93, 49, 1) 100%
    );
    overflow-y: auto;
    overscroll-behavior: contain;
    
    img {
      max-width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 798px;
    min-height: 100vh;
    margin: auto;
  }
  
  .car {
    position: relative;
    z-index: 10;
    width: 300px;
    height: 202px;
    margin: 0 auto;
    animation: drive linear;
    animation-timeline: scroll();
  }
  
  .body {
    position: relative;
    animation: shaking 1s linear infinite;
    &::before {
      position: absolute;
      bottom: -95px;
      left: -444px;
      content: ' ';
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 240px solid transparent;
      border-left: 500px solid rgba(191, 188, 87, 0.7);
      z-index: -1;
      -webkit-mask-box-image: linear-gradient(to left, black, transparent);
      rotate: 20deg;
      animation: light linear;
      animation-timeline: scroll();
    }
  }
  
  .tire-front {
    position: absolute;
    left: 26px;
    bottom: 0;
    width: 84px;
    animation: spin 1s linear infinite;
  }
  
  .tire-rear {
    position: absolute;
    right: 32px;
    bottom: 0;
    width: 84px;
    animation: spin 1s linear -0.75s infinite;
  }
  
  .backgound {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  :root {
    --radius: 200px;
    --base-angle: (360deg / 6);
  }
  
  .circle {
    display: grid;
    place-items: center;
    position: relative;
    top: 80px;
    width: 640px;
    height: 200px;
    border-radius: 50%;
  }
  
  .sunset {
    width: 120px;
    height: 120px;
    translate: 150px 0;
    position: absolute;
    animation: sunsetX ease-in;
    animation-timeline: scroll();
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto;
      animation: sunsetY ease-out;
      animation-timeline: scroll();
      background: linear-gradient(180deg, rgba(255, 203, 66, 1) 0%, rgba(255, 120, 71, 1) 100%);
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto;
      animation: sunsetY ease-out, sunsetColor linear;
      animation-timeline: scroll();
      background-color: #fad082;
    }
  }
  
  .group {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    animation: cloudOpacity linear;
    animation-timeline: scroll();
  }
  
  .cloud {
    display: inline-block;
    position: absolute;
    z-index: 10;
    &::before {
      content: '';
      display: block;
      position: absolute;
    }
  }
  
  .cloud:nth-of-type(1) {
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 230px;
    width: 140px;
    height: 48px;
    border-radius: 48px 32px 32px 12px;
    background: linear-gradient(180deg, rgb(255, 128, 78) 0%, rgb(255, 93, 49) 100%);
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 16px;
      bottom: 0;
      width: 64px;
      height: 64px;
      border-radius: 35px;
      background: linear-gradient(180deg, rgba(255, 140, 74, 1) 0%, rgba(255, 93, 49, 1) 100%);
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 16px;
      bottom: 0;
      width: 72px;
      height: 72px;
      border-radius: 48px;
      background: linear-gradient(180deg, rgb(255, 145, 74) 0%, rgb(255, 93, 49) 100%);
    }
  }
  
  .cloud:nth-of-type(2) {
    display: inline-block;
    position: absolute;
    top: 230px;
    right: 150px;
    width: 80px;
    height: 28px;
    border-radius: 48px 32px 32px 12px;
    background: linear-gradient(180deg, rgb(255, 128, 78) 0%, rgb(255, 93, 49) 100%);
    &::before {
      content: '';
      display: block;
      position: absolute;
      right: 12px;
      bottom: 0;
      width: 36px;
      height: 40px;
      border-radius: 35px;
      background: linear-gradient(180deg, rgba(255, 140, 74, 1) 0%, rgba(255, 93, 49, 1) 100%);
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 12px;
      bottom: 0;
      width: 36px;
      height: 40px;
      border-radius: 35px;
      background: linear-gradient(180deg, rgb(255, 145, 74) 0%, rgb(255, 93, 49) 100%);
    }
  }
  
  .cloud:nth-of-type(3) {
    display: inline-block;
    position: absolute;
    top: 160px;
    right: -10px;
    width: 100px;
    height: 28px;
    border-radius: 55px 32px 32px 32px;
    background: linear-gradient(180deg, rgb(255, 128, 78) 0%, rgb(255, 93, 49) 100%);
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 24px;
      bottom: 0;
      width: 40px;
      height: 42px;
      border-radius: 35px;
      background: linear-gradient(180deg, rgba(255, 140, 74, 1) 0%, rgba(255, 93, 49, 1) 100%);
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 12px;
      bottom: 0;
      width: 48px;
      height: 50px;
      border-radius: 28px;
      background: linear-gradient(180deg, rgb(255, 145, 74) 0%, rgb(255, 93, 49) 100%);
    }
  }
  
  // kefframes
  @keyframes spin {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: -360deg;
    }
  }
  
  @keyframes drive {
    0% {
      translate: 0 0;
      opacity: 1;
    }
    50% {
      translate: -100vw 0;
      opacity: 1;
    }
    50.1% {
      translate: -100vw 0;
      opacity: 0;
    }
    50.2% {
      translate: 100vw 0;
      opacity: 0;
    }
    50.3% {
      translate: 100vw 0;
      opacity: 1;
    }
    100% {
      translate: 0 0;
    }
  }
  
  @keyframes shaking {
    0% {
      translate: 0 0;
    }
    20% {
      translate: 0 1px;
    }
    40% {
      translate: 0 0;
    }
    60% {
      translate: 0 2px;
    }
    80% {
      translate: 0 0;
    }
    100% {
      translate: 0 0;
    }
  }
  
  @keyframes sunsetX {
    0% {
      translate: 0 calc(-1 * 100px);
    }
    50% {
      translate: 320px calc(-1 * 100px);
    }
    100% {
      translate: 320px 0;
    }
  }
  
  @keyframes sunsetY {
    0% {
      translate: calc(-1 * 320px) 100px;
    }
    50% {
      translate: calc(-1 * 320px) 0;
    }
    100% {
      translate: 0 0;
    }
  }
  @keyframes sunsetColor {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes cloudOpacity {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes light {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    76% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }









 